.reviews__title {
    margin-bottom: 24px;
    margin-left: 20px;

    @media (min-width: 577px) {
        margin-bottom: 55px;
        margin-left: 0;
    }
}

.reviews-grid {}

.reviews-item {
    max-width: 307px;

    @media (max-width: 577px) {
        width: 100%;
        max-width: 100%;
    }
}

.reviews__button-all {
    width: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 65.62%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 203px;


    @media (max-width: 992px) {
        align-items: flex-end;
        padding-left: 20px;
        padding-right: 20px;
    }

    .button {
        height: 76px;
        border-radius: 20px;
        margin-bottom: 20px;

        @media (min-width: 992px) {
            height: 86px;
            padding-left: 80px;
            padding-right: 80px;
            margin-bottom: 0;
        }
    }
}

.padding-left-right-unset {
    @media (max-width: 577px) {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
}

.reviews-item--active {
    display: none;
}