.tours-list {}

.tours-list__title {
    margin-bottom: 12px;

    @media (min-width: 577px) {
        margin-bottom: 16px;
    }
}

// Табы
.tabs-container--for-scroll {

    @media (max-width: 577px) {
        width: 100vw;
        overflow: auto;
        margin-left: -20px;
        padding: 0 20px;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.tabs-container {
    width: max-content;
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 577px) {
        flex-wrap: nowrap;
        margin-right: 20px;
    }
}

.tabs-container--tours-list {
    border-radius: 12px;
    border: 1px solid #2057E5;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    gap: 14px;

    @media (min-width: 577px) {
        padding: 8px 8px 8px 8px;
        margin-bottom: 36px;
        gap: 16px;
    }

    .tab {
        font-size: 14px;
        line-height: 1.2;
        letter-spacing: -0.019em;
        color: #101113;
        padding: 8px 12px;

        @media (max-width: 577px) {
            font-weight: 500;
        }
    }

    .tab-active {
        color: white !important;
        background: linear-gradient(90deg, #2057E5 0%, #0075FF 100%);
        border-radius: 6px;
    }
}

.tab {
    cursor: pointer;
}

.tours-list__block-elements {
    height: 100%;
    display: flex;

    @media (max-width: 992px) {
        flex-direction: column;
    }

    .tab-container {
        width: 100%;
        flex-wrap: wrap;
        gap: 24px;


        @media (max-width: 577px) {
            gap: 12px;
        }
    }

    .tours-list__accordion-container-left {
        width: 50%;
        margin-right: 12px;
        display: flex;
        flex-direction: column;
        gap: 12px;

        @media (max-width: 992px) {
            width: 100%;
        }

        @media (max-width: 577px) {
            margin-right: 0;

            &:not(:last-child) {
                margin-bottom: 12px;
            }
        }
    }

    .tours-list__accordion-container-right {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 12px;

        @media (max-width: 992px) {
            width: 100%;
        }
    }
}

.tab-container {
    display: none;
}

.show-tab {
    display: flex;
}

.block-elements__item {
    border-radius: 16px;
    width: 100%;
    position: relative;
    overflow: hidden;
    transition: background-color .15s ease-in-out;
    transition: border .1s ease-in-out;
    border: 2px solid transparent;
    padding: 16px;
    display: flex;
    flex-direction: column;
    color: white;

    @media (min-width: 577px) {
        width: calc((100% / 2) - 12px);
        border-radius: 24px;
        padding: 24px;
    }

    @media (min-width: 992px) {
        width: calc((100% / 3) - 16px);
    }

    .tours-list__bg {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
    }

    .tours-list__bg-color {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.5);
    }

    @media (any-hover: hover) {

        &:hover {
            border: 2px solid #E93B57;

            .tours-list__bg-color {
                background-color: rgba(0, 0, 0, 0.7);
            }
        }
    }

    a,
    span,
    p {
        z-index: 3;
    }
}

.tours-list__link-title {
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: -0.019em;
    color: #FFFFFF;

    @media (min-width: 577px) {
        font-size: 20px;
    }
}

.tours-list__day-and-date {
    margin-top: 4px;
    margin-bottom: 34px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.3;

    @media (min-width: 577px) {
        margin-top: 16px;
        margin-bottom: 70px;
        font-size: 16px;
    }
}

.tour-list__price-container{
    display: flex;
    height: 100%;
    align-items: flex-end;
}

.tours-list__prices {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;

    @media (min-width: 577px) {
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
    }
}

.tours-list__price-with-interest {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 13px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    z-index: 3;

    @media (min-width: 577px) {
        font-size: 14px;
        justify-content: center;
    }
}

.tours-list__with-interest {
    padding: 0 6px;
    height: 28px;
    background: linear-gradient(90deg, #E93B57 0%, #EC5B54 100%);
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (min-width: 577px) {
        padding: 0 8px;
        height: 33px;
    }
}

.tours-list__without-interest {
    padding: 0 6px;
    height: 28px;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #FFFFFF;

    @media (min-width: 577px) {
        padding: 0 8px;
        height: 33px;
    }
}

.tours-list__price-for-human {
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    @media (min-width: 577px) {
        font-size: 12px;
    }
}

.tours-list__special-class-flex {
    display: flex;
    align-items: center;
    gap: 6px;
}

.main-content__video-and-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 445px;
    width: 100%;

    .main-content__title {
        margin-bottom: 75px;
        font-size: 68px;
        line-height: 1;
        text-align: center;
        letter-spacing: -0.019em;
        position: relative;

        @media (min-width: 577px) {
            font-size: 96px;
            margin-bottom: 60px;
        }

        @media (max-width: 374px) {
            font-size: 58px;
        }

        .tours-list__with-interest {
            position: absolute;
            right: 18%;
            transform: rotate(-8.17deg);
            bottom: -15%;
            font-size: 14px;
            line-height: 1.3;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            color: #FFFFFF;

            @media (min-width: 577px) {
                right: -16%;
                transform: rotate(-8.17deg);
                bottom: -4%;
            }

            .tours-list__special-class-flex {
                gap: 0;
            }
        }
    }

    .button--header {
        height: 76px;
        border-radius: 20px;

        @media (min-width: 577px) {
            height: 86px;
            padding-left: 80px;
            padding-right: 80px;
        }
    }
}